<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filter.LoginFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>Filter.CharsetFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckCookies</filter-name>
        <filter-class>Filter.CheckCookies</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckCookies</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/AdminPanel.jsp</url-pattern>
        <url-pattern>/AdminLogin.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>doSomething</servlet-name>
        <servlet-class>servlet.doSomething</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>servlet.doLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doKod</servlet-name>
        <servlet-class>servlet.doKod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doDodadiPredmet</servlet-name>
        <servlet-class>servlet.doDodadiPredmet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doZemiNovost</servlet-name>
        <servlet-class>servlet.doZemiNovost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SmeniKod</servlet-name>
        <servlet-class>servlet.doSmeniKod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionDeleteCode</servlet-name>
        <servlet-class>servlet.ActionDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Jazik</servlet-name>
        <servlet-class>servlet.Jazik</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>servlet.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doSomething</servlet-name>
        <url-pattern>/doSomething</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doKod</servlet-name>
        <url-pattern>/Kod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doDodadiPredmet</servlet-name>
        <url-pattern>/doDodadiPredmet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doZemiNovost</servlet-name>
        <url-pattern>/doZemiNovost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SmeniKod</servlet-name>
        <url-pattern>/SmeniKod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionDeleteCode</servlet-name>
        <url-pattern>/deleteCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jazik</servlet-name>
        <url-pattern>/Jazik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Pocetna.jsp</welcome-file>
    </welcome-file-list>
</web-app>
